<!DOCTYPE html>
<html>

<script type="module" crossorigin src="/vita/src/static/js/views\layout\lay-footer-_uMkyfOD.js"></script>
<link rel="modulepreload" crossorigin href="/vita/src/static/js/modulepreload-polyfill-B5Qt9EMX.js">

<script type="module">import.meta.url;import("_").catch(()=>1);(async function*(){})().next();if(location.protocol!="file:"){window.__vite_is_modern_browser=true}</script>
<script type="module">!function(){if(window.__vite_is_modern_browser)return;console.warn("vite: loading legacy chunks, syntax error above and the same error below should be ignored");var e=document.getElementById("vite-legacy-polyfill"),n=document.createElement("script");n.src=e.src,n.onload=function(){System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))},document.body.appendChild(n)}();</script>

<body>
    <!-- 底部固定区域 -->
    <p><a href="https://aday.fun" target="_blank">https://aday.fun</a></p>
    <p>
        <a href="https://vita.aday.fun" target="_blank">Vita 管理系统</a>
    </p>
    <p>
        <a href="https://beian.miit.gov.cn" target="_blank">陕ICP备2025064396号</a>
    </p>
    <p>Copyright © 2018 ~ <span id="footerYear"></span></p>
    <p>Meng Wei Jin</p>
    <p>APACHE LICENSED 2.0</p>

  <script nomodule>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",(function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()}),!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
  <script nomodule crossorigin id="vite-legacy-polyfill" src="/vita/src/static/js/polyfills-legacy-DEd43cxX.js"></script>
  <script nomodule crossorigin id="vite-legacy-entry" data-src="/vita/src/static/js/views\layout\lay-footer-legacy-D-Gotv3j.js">System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))</script>
</body>

</html>