<!DOCTYPE html>
<html>

<head>
    <style>
        .vt-header-icon-size-right {
            font-size: medium;
        }

        .vt-header-icon-message {
            border-radius: 90% !important;
            padding: 0 3px;
            margin: -18px 0 0 0 !important;
            right: 7px;
        }
    </style>
  <script type="module" crossorigin src="/vita/src/static/js/views\layout\lay-header-BX4eRHhM.js"></script>
  <link rel="modulepreload" crossorigin href="/vita/src/static/js/modulepreload-polyfill-B5Qt9EMX.js">
  <link rel="modulepreload" crossorigin href="/vita/src/static/js/admin-BrXJIz2-.js">
  <script type="module">import.meta.url;import("_").catch(()=>1);(async function*(){})().next();if(location.protocol!="file:"){window.__vite_is_modern_browser=true}</script>
  <script type="module">!function(){if(window.__vite_is_modern_browser)return;console.warn("vite: loading legacy chunks, syntax error above and the same error below should be ignored");var e=document.getElementById("vite-legacy-polyfill"),n=document.createElement("script");n.src=e.src,n.onload=function(){System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))},document.body.appendChild(n)}();</script>
</head>

<body>
    <div class="layui-logo layui-hide-xs layui-bg-black">
        <img src="/vita/logo.svg" />
    </div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-hide-sm" lay-on="collapse" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-spread-left" title="展开"></a>
        </li>
        <!-- PC端显示 -->
        <li class="layui-nav-item layui-hide-xs" lay-on="collapse" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-shrink-right" title="收缩"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-on="refresh" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-refresh-1" title="刷新"></a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" style="padding-right: 0;">
        <li id="fullScreenIcon" class="layui-nav-item layui-hide-xs" lay-on="fullScreen" lay-unselect>
            <a href="javascript:;" title="全屏/退出全屏"
                class="layui-icon layui-icon-screen-full vt-header-icon-size-right"></a>
        </li>

        <li class="layui-nav-item" lay-on="message">
            <a href="javascript:;" title="消息">
                <i class="layui-icon layui-icon-notice vt-header-icon-size-right"></i>
                <span class="layui-badge vt-header-icon-message">+9</span>
            </a>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;" class="vt-header-icon-size-right">
                <img id="avatar" src="/vita/favicon.svg" class="layui-nav-img" />
                <span id="nickname">admin</span>
            </a>
            <dl class="layui-nav-child">
                <dd lay-on="profile"><a href="javascript:;">个人主页</a></dd>
                <dd lay-on="preference"><a href="javascript:;">偏好设置</a></dd>
                <hr>
                <dd lay-on="logout"><a href="javascript:;">退出</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item" lay-unselect lay-on="setting">
            <a href="javascript:;" class="layui-icon layui-icon-more-vertical vt-header-icon-size-right"></a>
        </li>
    </ul>

  <script nomodule>!function(){var e=document,t=e.createElement("script");if(!("noModule"in t)&&"onbeforeload"in t){var n=!1;e.addEventListener("beforeload",(function(e){if(e.target===t)n=!0;else if(!e.target.hasAttribute("nomodule")||!n)return;e.preventDefault()}),!0),t.type="module",t.src=".",e.head.appendChild(t),t.remove()}}();</script>
  <script nomodule crossorigin id="vite-legacy-polyfill" src="/vita/src/static/js/polyfills-legacy-DEd43cxX.js"></script>
  <script nomodule crossorigin id="vite-legacy-entry" data-src="/vita/src/static/js/views\layout\lay-header-legacy-CHWmX9vb.js">System.import(document.getElementById('vite-legacy-entry').getAttribute('data-src'))</script>
</body>

</html>