HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### gemini
# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

### Vita
logs
/h2
/cache
/uploads
/temp
.flattened-pom.xml

application-local.yml
