<!DOCTYPE html>
<html>

<head>
    <style>
        .vt-header-icon-size-right {
            font-size: medium;
        }

        .vt-header-icon-message {
            border-radius: 90% !important;
            padding: 0 3px;
            margin: -18px 0 0 0 !important;
            right: 7px;
        }
    </style>
</head>

<body>
    <div class="layui-logo layui-hide-xs layui-bg-black">
        <img src="/logo.svg" />
    </div>
    <!-- 头部区域（可配合layui 已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <!-- 移动端显示 -->
        <li class="layui-nav-item layui-hide-sm" lay-on="collapse" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-spread-left" title="展开"></a>
        </li>
        <!-- PC端显示 -->
        <li class="layui-nav-item layui-hide-xs" lay-on="collapse" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-shrink-right" title="收缩"></a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-on="refresh" lay-unselect>
            <a href="javascript:;" class="layui-icon layui-icon-refresh-1" title="刷新"></a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" style="padding-right: 0;">
        <li id="fullScreenIcon" class="layui-nav-item layui-hide-xs" lay-on="fullScreen" lay-unselect>
            <a href="javascript:;" title="全屏/退出全屏"
                class="layui-icon layui-icon-screen-full vt-header-icon-size-right"></a>
        </li>

        <li class="layui-nav-item" lay-on="message">
            <a href="javascript:;" title="消息">
                <i class="layui-icon layui-icon-notice vt-header-icon-size-right"></i>
                <span class="layui-badge vt-header-icon-message">+9</span>
            </a>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;" class="vt-header-icon-size-right">
                <img id="avatar" src="/favicon.svg" class="layui-nav-img" />
                <span id="nickname">admin</span>
            </a>
            <dl class="layui-nav-child">
                <dd lay-on="profile"><a href="javascript:;">个人主页</a></dd>
                <dd lay-on="preference"><a href="javascript:;">偏好设置</a></dd>
                <dd lay-on="logout"><a href="javascript:;">退出</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item" lay-unselect lay-on="setting">
            <a href="javascript:;" class="layui-icon layui-icon-more-vertical vt-header-icon-size-right"></a>
        </li>
    </ul>

    <script type="module">
        import screenfull from "screenfull";
        import { admin } from "@/scripts/admin.js";
        import { sideMenu } from "@/scripts/sideMenu.js";
        import { userStorage } from "@/storage/session/userStorage.js";

        let element = layui.element;
        let $ = layui.$;
        let util = layui.util;

        let init = function() {
            let avatar = userStorage.get().avatar;
            if(avatar) {
                $("#avatar").attr("src", avatar);
            }
            $("#nickname").text(userStorage.get().nickname);
        };

        init();
        element.render();

        //头部事件
        util.on({
            collapse: function (othis, e) {
                $(othis).children().toggleClass("layui-icon-shrink-right").toggleClass("layui-icon-spread-left");
                sideMenu.toggle();
            },
            refresh: function () {
                // 刷新当前页面
                top.location.reload();
            },
            fullScreen: (othis, e) => {
                // let $icon = $(othis).children();
                // $icon.removeClass("layui-icon-screen-full").removeClass("layui-icon-screen-restore");
                // if(screenfull.isFullscreen) {
                //     $icon.addClass("layui-icon-screen-full");
                // } else {
                //     $icon.addClass("layui-icon-screen-restore");
                // } 
                screenfull.toggle();
            },
            message: function () {
                layer.msg('触发了事件 message');
            },
            profile: function () {
                layer.msg('触发了事件 profile');
            },
            preference: function () {
                layer.msg('触发了事件 preference');
            },
            logout: function () {
                admin.logout();
            },
            setting: function () {
                layer.open({
                    type: 1,
                    title: "更多",
                    content: '<div style="padding: 15px;">处理右侧面板的操作</div>',
                    area: ["260px", "100%"],
                    offset: "rt", // 右上角
                    anim: "slideLeft", // 从右侧抽屉滑出
                    shadeClose: true,
                    scrollbar: false,
                });
            },
        });

    </script>
</body>

</html>