<!DOCTYPE html>
<html>

<head>
    <style>
        .vt-side-menu-title {
            margin-left: 10px;
        }
    </style>
</head>

<body>
    <div class="layui-side-scroll">
        <!-- 左侧导航区域 -->
        <ul class="layui-nav layui-nav-tree">
            <li class="layui-nav-item">
                <a href="javascript:;" class="layui-icon layui-icon-home"><span class="vt-side-menu-title">首页</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;" class="layui-icon layui-icon-notice"><span class="vt-side-menu-title">通知公告</span></a>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">menu group 1</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">menu 1</a></dd>
                    <dd><a href="javascript:;">menu 2</a></dd>
                    <dd><a href="javascript:;">menu 3</a></dd>
                    <dd><a href="javascript:;">the links</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="https://aday.fun">https://aday.fun</a></li>
        </ul>
    </div>
</body>

</html>