/* color palette from <https://github.com/vuejs/theme> */
/* semantic color variables for this project */
:root {
  --vt-header-height: 60px;
  --vt-aside-height: calc(100vh - var(--vt-header-height));
  --vt-main-height: calc(var(--vt-aside-height) - var(--vt-footer-height));
  /** tabs 页签头：40px；其它：14px */
  --vt-tab-content-height: calc(var(--vt-main-height) - 40px - 14px);
  /* 查询表单：50px; 表格头：62px；分页组件：42px; 其它：13px */
  --vt-table-height: calc(var(--vt-tab-content-height) - 50px - 62px - 42px - 13px);
  --vt-main-background-color: #f7f7f7;
}

/* 移动端样式 */
@media screen and (max-width: 768px) {
  :root {
    --vt-footer-height: 110px;
  }
}

/* PC端样式 */
@media screen and (min-width: 768px) {
  :root {
    --vt-footer-height: 60px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.vt-table {
  flex: 1;
  /* tabs 页签：40px; 查询表单：70px; 表格头：63px；分页组件：50px */
  height: var(--vt-table-height);
}

/* el-dialog 里面包裹一层 <div v-loading="loading" class="dialog-wrap">...</div>
 * 加上这个样式后，让 loading 遮罩相对于整个弹窗区域定位，达到覆盖 el-dialog footer 的效果。
 */
.vt-dialog-wrap {
  position: relative;
  min-height: 120px;
}

.el-pagination {
  margin-top: 10px;
}

.el-dialog__footer {
  padding-top: 0px !important;
}
