package ${package}.service;

import cn.hutool.v7.core.text.StrUtil;
import com.baomidou.mybatisplus.core.conditions.query.LambdaQueryWrapper;
import com.baomidou.mybatisplus.core.toolkit.Wrappers;
import com.github.mengweijin.vita.framework.mybatis.BaseVitaService;
import ${package}.domain.entity.${entityName}DO;
import ${package}.domain.vo.${entityName}VO;
import ${package}.mapper.${entityName}Mapper;
import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.stereotype.Service;

/**
 * $!{table.comment} ${entityName} Service
 *  Add @Transactional(rollbackFor = Exception.class) if you need.
 *
 * @author ${author}
 * @since ${date}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${entityName}Service extends BaseVitaService<${entityName}Mapper, ${entityName}DO, ${entityName}VO> {

    @Override
    public LambdaQueryWrapper<${entityName}DO> buildQueryWrapper(${entityName}DO ${entityPropertyName}) {
        LambdaQueryWrapper<${entityName}DO> wrapper = Wrappers.lambdaQuery();
        wrapper.eq(${entityPropertyName}.getId() != null, ${entityName}DO::getId, ${entityPropertyName}.getId());
    #foreach($field in ${entityFields})
        #set($upperFirstName = $hutoolStrUtil.upperFirst(${field.propertyName}))
        #if(${field.columnType}=="STRING")
        wrapper.eq(StrUtil.isNotBlank(${entityPropertyName}.get$upperFirstName()), ${entityName}DO::get$upperFirstName, ${entityPropertyName}.get$upperFirstName());
        #else
        wrapper.eq(${entityPropertyName}.get$upperFirstName() != null, ${entityName}DO::get$upperFirstName, ${entityPropertyName}.get$upperFirstName());
        #end
    #end
        wrapper.gt(${entityPropertyName}.getStartCreateTime() != null, ${entityName}DO::getCreateTime, ${entityPropertyName}.getStartCreateTime());
        wrapper.le(${entityPropertyName}.getEndCreateTime() != null, ${entityName}DO::getCreateTime, ${entityPropertyName}.getEndCreateTime());
        return wrapper;
    }
}
