<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vita.system.mapper.MessageReceiverMapper">

    <select id="page" resultType="com.github.mengweijin.vita.system.domain.vo.MessageVO">
        select
        t.MESSAGE_ID,
        t.USER_ID,
        t.VIEWED,
        t.VIEWED_TIME,
        t.ID,
        t.CREATE_BY,
        t.CREATE_TIME,
        t.UPDATE_BY,
        t.UPDATE_TIME,
        a.TYPE,
        a.TITLE,
        a.CONTENT
        from VT_MESSAGE_RECEIVER t
        left join VT_MESSAGE a on a.ID = t.MESSAGE_ID
        <where>
            <if test="p.id != null">
                and t.ID = #{p.id}
            </if>
            <if test="p.createBy != null and p.createBy != ''">
                and t.CREATE_BY = #{p.createBy}
            </if>
            <if test="p.createTime != null">
                and t.CREATE_TIME = #{p.createTime}
            </if>
            <if test="p.updateBy != null and p.updateBy != ''">
                and t.UPDATE_BY = #{p.updateBy}
            </if>
            <if test="p.updateTime != null">
                and t.UPDATE_TIME = #{p.updateTime}
            </if>
            <if test="p.messageId != null">
                and t.MESSAGE_ID = #{p.messageId}
            </if>
            <if test="p.userId != null">
                and t.USER_ID = #{p.userId}
            </if>
            <if test="p.viewed != null and p.viewed != ''">
                and t.VIEWED = #{p.viewed}
            </if>
            <if test="p.viewedTime != null">
                and t.VIEWED_TIME = #{p.viewedTime}
            </if>

            <if test="p.type != null and p.type != ''">
                and a.TYPE = #{p.type}
            </if>
            <if test="p.title != null and p.title != ''">
                and a.TITLE like concat(concat('%', #{p.title}), '%')
            </if>
            <if test="p.content != null and p.content != ''">
                and a.CONTENT like concat(concat('%', #{p.content}), '%')
            </if>
        </where>
        order by t.CREATE_TIME desc
    </select>
</mapper>
