<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.mengweijin.vita.workflow.mapper.WarmFlowTaskMapper">

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        ft.DEFINITION_ID,
        ft.INSTANCE_ID,
        ft.NODE_CODE,
        ft.NODE_NAME,
        ft.NODE_TYPE,
        ft.FLOW_STATUS,
        ft.FORM_CUSTOM,
        ft.FORM_PATH,
        ft.DEL_FLAG,
        ft.TENANT_ID,
        ft.ID,
        ft.CREATE_TIME,
        ft.CREATE_BY,
        ft.UPDATE_TIME,
        ft.UPDATE_BY,
        fd.FLOW_NAME,
        fi.BUSINESS_ID
    </sql>

    <select id="selectPageVo" resultType="com.github.mengweijin.vita.workflow.domain.vo.FlowTaskVO">
        SELECT
        <include refid="BaseColumnList"/>
        FROM FLOW_TASK ft
        LEFT JOIN FLOW_DEFINITION fd ON ft.DEFINITION_ID=fd.ID
        LEFT JOIN FLOW_INSTANCE fi ON ft.INSTANCE_ID=fi.ID
        LEFT JOIN FLOW_USER fu ON fu.ASSOCIATED = ft.ID
        <where>
            AND fu.processed_by = #{p.processedBy}

            <if test="p.definitionId != null">
                AND ft.DEFINITION_ID = #{p.definitionId}
            </if>
            <if test="p.instanceId != null">
                AND ft.INSTANCE_ID = #{p.instanceId}
            </if>
            <if test="p.nodeCode != null and p.nodeCode != ''">
                AND ft.NODE_CODE = #{p.nodeCode}
            </if>
            <if test="p.nodeName != null and p.nodeName != ''">
                AND ft.NODE_NAME = #{p.nodeName}
            </if>
            <if test="p.nodeType != null">
                AND ft.NODE_TYPE = #{p.nodeType}
            </if>
            <if test="p.flowStatus != null and p.flowStatus != ''">
                AND ft.FLOW_STATUS = #{p.flowStatus}
            </if>
            <if test="p.formCustom != null and p.formCustom != ''">
                AND ft.FORM_CUSTOM = #{p.formCustom}
            </if>
            <if test="p.formPath != null and p.formPath != ''">
                AND ft.FORM_PATH = #{p.formPath}
            </if>
            <if test="p.delFlag != null and p.delFlag != ''">
                AND ft.DEL_FLAG = #{p.delFlag}
            </if>
            <if test="p.tenantId != null and p.tenantId != ''">
                AND ft.TENANT_ID = #{p.tenantId}
            </if>
            <if test="p.id != null">
                AND ft.ID = #{p.id}
            </if>
            <if test="p.createTime != null">
                AND ft.CREATE_TIME = #{p.createTime}
            </if>
            <if test="p.createBy != null and p.createBy != ''">
                AND ft.CREATE_BY = #{p.createBy}
            </if>
            <if test="p.updateTime != null">
                AND ft.UPDATE_TIME = #{p.updateTime}
            </if>
            <if test="p.updateBy != null and p.updateBy != ''">
                AND ft.UPDATE_BY = #{p.updateBy}
            </if>

            <if test="p.flowName != null and p.flowName != ''">
                AND fd.FLOW_NAME like CONCAT('%',#{p.flowName},'%')
            </if>
            <if test="p.businessId != null and p.businessId != ''">
                AND fi.BUSINESS_ID = #{p.businessId}
            </if>
        </where>
        ORDER BY ft.CREATE_TIME ASC
    </select>
</mapper>
